@font-face {
    font-family: 'Typo_MoonFlower B';
    src: url('TypoMoonFlowerB.woff2') format('woff2'),
        url('TypoMoonFlowerB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

